{{! archivo para proyecto final }}

{{#each carts}}
<div class="container m-auto grid grid-cols-3 gap-4 m-4 p-4 w-1/2">
  <h2 class="font-bold text-l mb-2">ID del Carrito: {{_id}}</h2>
  <ul>
    {{#each products}}
    <li class="text-blue-700">
      <span class="font-bold">Producto:</span>
      {{product.title}}
      Precio:
      {{product.price}}
      Cantidad:
      {{quantity}}
    </li>
    {{/each}}
  </ul>
  <p><strong>Total a pagar: </strong><span class="font-bold text-green-700">${{total}}</span></p>
</div>
{{/each}}