<h1>Productos</h1>

{{#if isValid}}
<div id="container-products" class="grid grid-cols-1 md:grid-cols-3 gap-4">
  {{#each docs}}
  <div class="bg-white rounded-lg shadow-md p-4">
    <img class="w-full"
      src="https://th.bing.com/th/id/R.424112f58756ad42c64268d9f18e8a5d?rik=%2fq9CDoIBzhfvSw&pid=ImgRaw&r=0"
      alt="Ropa y zapatos">
    <p class="font-bold text-xl mb-2">Nombre: {{this.title}}</p>
    <p class="text-gray-700 mb-2">Descripcion: {{this.description}}</p>
    <div class="flex justify-between items-center mb-2">
      <p class="font-bold text-green-500">Precio: {{this.price}}</p>
    </div>
    <p class="text-gray-700 mb-2">Disponibles: {{this.stock}}</p>
    <p class="text-gray-700 mb-2">Categoria: {{this.category}}</p>
    <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full "
      href="/products/{{this._id}}">Ver detalle</a>

  </div>
  {{/each}}
</div>




<br />

<div class="flex justify-center items-center mb-8"> {{#if hasPrevPage}}
  <a href={{this.prevLink}} class="text-blue-500 font-bold hover:underline">
    << Pagina anterior</a>
      {{/if}}
      &nbsp;
      <span class="font-bold">{{this.page}}</span> &nbsp;
      {{#if hasNextPage}}
      <a href={{this.nextLink}} class="text-blue-500 font-bold hover:underline">Pagina siguiente >></a>
      {{/if}}
</div>
{{else}}
<h1>No hay productos</h1>
{{/if}}
<script src="/js/products.js"></script>